@font-face {
  font-family: 'Lobster';
  font-style: cursive;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lobster/v20/neILzCirqoswsqX9zoKmM4MwWJU.woff2);
}

canvas {
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
}

#canvas-snow {
  position: absolute;
  opacity: 0.5;
}